<h5><% @country.visits.each do |visit| %>
	<% if visit.visit_places || visit.visit_date %>
		Place Visited: <%= visit.visit_places %>
			<br>
	    Travel Date: <%= visit.visit_date%>
	    <br>
	    <br>

	    <%= button_to "Delete", country_visit_path(visit.country, visit), :method => :delete, :class => "destroy" %>
    	<br>
    	<br>
    <% end %>
  <% end %>
</h5>