<h4><%= @visit.user.name %></h4>
<h4><%= link_to @visit.country.name, country_path %></h4>
<h4><%= @visit.visit_places %></h4>
<h4><%= @visit.visit_date %></h4>

<br>

<%#= button_to "Delete", country_visit_path(@visit.country, @visit), :method => :delete %>

   <%#= form_tag(country_visit_path(@visit.country, @visit), :method=> :delete) do %>

		<%#button type="submit" class="destroy"></button>
	<#%end%>