
	<% @visit.each do |v| %>
		<% if v.visit_places.present? %>
		Place Visited: <%= v.visit_places %>
		<br>
		Date: <%= v.visit_date.strftime("%m/%d/%Y") %>
		<br>
		<br>
		<% end %>
	<% end %>

	<p><a href="/countries"> Countries </a></p>
	<p><%= link_to "Back", @country %></p>