<h2 class= 'title'> Continents </h2>
<ol><% @continents.each do |continent| %>
	<li><%= link_to continent.name, continent %></li>
<%end %></ol>
<br>
<%= image_tag("https://mbtskoudsalg.com/images/continent-of-africa-png-7.png", :alt => "Continents") %>
<br>
<br>
<p>For countries home page click <a href="/countries">here! </a></p>
<p>To log in the countries you've visited click<a href="/countries/new"> here! </a></p>
<p> Add to your <a href="/buckets">Bucket List! </a></p>


