<h5><% @buckets.each do |bucket| %>
	<% if bucket.country.present? %>
		<label><input type="checkbox" name="checkbox" id="outside" class="checkbox" data-toggle="checkbox"></input>
			
			<del><strong name="check_count" class="check_count"><%= link_to bucket.country, bucket %></strong></del>
		</label>
		<a href="#" class="js-see_more" data-id="<%=@bucket.id%>">(See More...)</a>
		 <%#= button_to "Delete", bucket, :method => :delete, :class => "destroy" %>
		  <br>
	 <% end %>
	
	
<%end %>
</h5>






<%# Include more info button in this section for %>
