<h2 class= 'title'> Bucket List </h2>

<ol><%# @user.buckets.uniq.each do |bucket| %>
	
	<li><%#= link_to bucket.country, bucket %></li>
<%#end %></ol>

<br>




<h5>Log a New<a href="/buckets/new"> bucket list country. </a></h5>
<h5> Go to <a href="/continents"> Continents. </a></h5>