<h2 class= 'title'> Account Settings</h2>
<br>
<p>To edit your profile click on <%= link_to "Account Update", edit_user_registration_path %>.</p>
<br>
<div><img class="countrySlide" src="http://swdistrict.org/wp-content/uploads/2017/07/big-globe-and-hands.png">
			</div>