<ol><% @user.countries.each do |country| %>
	<li><%= link_to country.country, country %></li>
<%end %></ol>


<h5>To log in the countries and cities you want to visit click here! </a></h5>
<h5>To log in the countries you've visited click<a href="/countries/new"> here! </a></h5>
<h5> Go to <a href="/continents"> Continents. </a></h5>