<h2 class= 'title'> Countries Travelled </h2>

<div>
	<ol><% @user.countries.uniq.each do |country| %>
		
		<strong><li><%= link_to country.name, country %></li><strong>	
		<a href="#" class="see_more" data-id="<%=country.id%>">(See More...)</a>

		<ul id="cont-<%= country.id%>"></ul>
	
		
		

		<a href="#" class="see_less" onclick="see_less();" data-id="<%=country.id%>">(See Less...)</a>
	<%end %></ol>
</div>

<br>

<br>

<script type="text/javascript">
	
	$('.see_more').on('click', function(e) {
		
	  e.preventDefault();
	  var id = $(this).data('id')

	  $.get('/countries/' + id + '.json', function(datas){
		data = datas["data"].attributes
	    $("#cont-" + id).prepend("<li>" + data["continent"] + "</li>");
	    $("#cont-" + id).prepend("<li>" + data["city"] + "</li>");
	    //$('.see_less').fadeToggle();

	   //$('.see_more').addClass('hidden');
	  
	 
  })
})
//

function see_less(){

	var id = $(this).data('id')
	$.get('/countries/' + id + '.json', function(datas){
   	 data = datas["data"].attributes
      $("#cont-" + id).addClass('hidden');
      $('.cont-' + id).addClass('hidden');
      	$('.see_more').removeClass('hidden');
     
	})
}

</script>




<h5>Log a New<a href="/countries/new"> Country. </a></h5>
<h5> Go to <a href="/continents"> Continents. </a></h5>

