<h2 class= 'title'> Countries Travelled </h2>

<ol><% @user.countries.uniq.each do |country| %>
	
	<li><%= link_to country.name, country %></li>
<%end %></ol>

<br>




<h5>Log a New<a href="/countries/new"> Country. </a></h5>
<h5> Go to <a href="/continents"> Continents. </a></h5>