
	<h2 class= 'title'> Countries Travelled </h2>
		

	<div><img class="roadSlide" src="https://img00.deviantart.net/e42a/i/2012/180/6/f/road_png_stock_by_doloresdevelde-d55c9nc.png">
      </div>
    <div class="country">
	<div>
		<ol><% @user.countries.uniq.each do |country| %>
			
			<strong><li><%= link_to country.name, country, id: country.id %></li></strong>	
			<br>
		
			<!-- <a href="#" class="see_more" data-id="<%=country.id%>">(See More...)</a>

			<ul id="cont-<%= country.id%>"></ul>


			<a href="#" class="see_less" onclick="see_less();" data-id="<%=country.id%>">(See Less...)</a> -->
		<%end %></ol>
	</div>

	<h5><a href="/countries/new"> Log a New Country. </a></h5>
	<h5> Go to <a href="/continents"> Continents. </a></h5>
</div>



