<ol><% @countries.each do |country| %>
	<li><%= link_to country.country, country %></li>
<%end %></ol>


<p>To log in the countries and cities you want to visit click here! </a></p>
<p>To log in the countries you've visited click<a href="/countries/new"> here! </a></p>