/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color:#E0FFFF;
  background-image:url(http://www.tinebech.com/rw_common/themes/flood/images/editable_images/body-radial-left.png); 
  background-size: cover;
  font-family: Helvetica, Garamond, sans-serif; 
  color: #40404
}

.navbar-header {
	padding: 0px;
}

.image {
	padding-top: 50px;
	padding-left: 200px;
	height: 90px;
	width: 200px;
}

.title {
	color: #00008B;
	font-family: Helvetica, Garamond, sans-serif, bold; 
}






