
body {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color:#E0FFFF;
  background-image:url(http://www.tinebech.com/rw_common/themes/flood/images/editable_images/body-radial-left.png); 
  background-size: cover;
  font-family: Helvetica, Garamond, sans-serif; 
  color: #40404
}

.navbar-header {
	padding: 0px;
}

.title {
	color: #00008B;
	font-family: Helvetica, Garamond, sans-serif; 
  font-style: bold;
  font-size: 40px;
  text-shadow: black;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#visit-section{
  display:none;
}

#del_ete{
  font-size: 12px;
  padding: 10px;
  color: black;
  font-family: Helvetica, Garamond, sans-serif;
  font-style: italic; 

}

.see_more{
  font-size: 10px;
  padding: 10px;
  color: black;
  font-family: Helvetica, Garamond, sans-serif;
  font-style: italic; 
}
.see_less{
  font-size: 12px;
  padding: 10px;
  color: black;
  font-family: Helvetica, Garamond, sans-serif;
  font-style: italic; 
  display: none;
}
.hidden {
  display: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

h5 del {
text-decoration: none;
}
h5 input[type=checkbox]:checked ~ del {
text-decoration: line-through;
}

div.flip-control {
    width: 400px;
    text-align: center;
}

div.flip-control a {
    margin-left: 10px;
}

.edit {
  display: inline-block;
  border-radius: 2px;
  background-color: #D8D8D8;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;

}


.content {
    background-color: #F8F8F8;
    width: 450px;
    padding: 25px;
}

.bucket{
  background-color: white;
  width: 700px;
  padding: 25px;

}

.country {
  background-color: #F8F8F8;
  width: 350px;
  padding: 25px;

}

.mySlides {
   width: 100%;
  z-index: 0;
  
}
.countrySlide {
   display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   align-items:center;
}
.roadSlide {
   display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   float: right;
   width: 60%;
   padding: 75px;
}
.imageBucket{
  display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   float: right;
   width: 60%;
   padding: 75px;
}

.home {
    
    width: 75%;
    padding-right: 25px;
}

.continent {
  display: inline-block;
  border-radius: 2px;
  background-color: #F8F8F8;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;

}

