
body {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color:#E0FFFF;
  background-image:url(http://www.tinebech.com/rw_common/themes/flood/images/editable_images/body-radial-left.png); 
  background-size: cover;
  font-family: Helvetica, Garamond, sans-serif; 
  color: #40404
}

.navbar-header {
	padding: 0px;
}

.image {
	padding-top: 50px;
	padding-left: 350px;
	padding-bottom: 200px;
	height: 90px;
	width: 200px;
}

.title {
	color: #00008B;
	font-family: Helvetica, Garamond, sans-serif; 
  font-style: bold;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#del_ete{
  font-size: 12px;
  padding: 10px;
  color: black;
  font-family: Helvetica, Garamond, sans-serif;
  font-style: italic; 
}
#see_more{
  font-size: 12px;
  padding: 10px;
  color: black;
  font-family: Helvetica, Garamond, sans-serif;
  font-style: italic; 
}
.hidden {
  display: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

h5 del {
text-decoration: none;
}
h5 input[type=checkbox]:checked ~ del {
text-decoration: line-through;
}

div.flip-control {
    width: 400px;
    text-align: center;
}

div.flip-control a {
    margin-left: 10px;
}
